<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XMLGenApp.Properties.Settings.DevDBConnectionString"
            connectionString="Data Source=CORTOLORENZO;Initial Catalog=DevDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="XMLGenApp.Properties.Settings.DevDBConnectionString1"
            connectionString="Data Source=CORTOLORENZO\SQLEXPRESS;Initial Catalog=DevDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>